.header{
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    font-size: 1.25rem;
    font-weight: 500;

    /* background-color: aqua; */
}


.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 32.375rem;
    
}

.navLink{
    text-decoration: none;
    color:#424436;
}

.logo{
    width: 4.5rem;
    height: 4.5rem;
}

.cart{
    width: 3rem;
    height: 3rem;
}


